{% extends "paginas/modelo.html" %}
{% load static %}

{% block titulo %}
<title>Início</title>

{% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

<!-- Logo fixa no canto superior esquerdo -->
<div class="logo-fixed">
    <img src="{% static 'img/ifpr.png' %}" alt="Logo IFPR">
</div>

<div class="container">
    <h1>Sistema Assistência ao Aluno</h1>
    <p>Facilitando o controle de empréstimos no IFPR - Campus Paranavaí com praticidade e organização.</p>

    <div class="buttons">
        <a href="{% url 'sobre' %}" class="btn">Sobre o Sistema</a>
        <a href="{% url 'menu' %}" class="btn">Menu de Cadastros</a>
        <a href="{% url 'menu-listas' %}" class="btn">Menu de Listas</a>
    </div>

    <!-- Nome centralizado abaixo dos botões -->
    <p class="autor">© 2025 Otavio Fiats e Ruan Fontana | Todos os direitos reservados</p>
</div>
{% endblock %}