{% extends "paginas/modelo.html" %}
{% load static %}

{% block titulo %}
<title>Início</title>

{% endblock %}

{% block conteudo %}
<div class="row g-3 align-items-center">

    <div class="col-lg-4 col-md-12 text-center mb-4 mb-lg-0 wow zoomIn" data-wow-delay="0.1s">
        <img src="{% static 'img/site_antigo/ifpr.png' %}" alt="Logo IFPR" class="img-fluid rounded" style="max-height:150px;">
    </div>

    <div class="col-lg-8 col-md-12 wow zoomIn text-start" data-wow-delay="0.3s">
        <h3 class="mb-3">Sistema Assistência ao Aluno</h3>
        <p class="lead">Facilitando o controle de empréstimos no IFPR - Campus Paranavaí com praticidade e organização.</p>
        <a href="{% url 'menu-listas' %}" class="btn btn-primary mt-3">Ver listas</a>
    </div>

</div>

{% endblock %}