{% extends "paginas/modelo.html" %}
{% load static %}

{% block conteudo %}
<h3 class="text-center">💵 Lista de Empréstimos Registrados</h3>
<hr>

<div class="">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Item e descrição</th>
                <th>Data</th>
                <th>Data de Devolução</th>
                <th>Aprovado</th>
                <th>Data de confirmação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in object_list %}
            <tr>
                <td>{{ emprestimo.aluno }}</td>
                <td>{{ emprestimo.descricao }}</td>
                <td>{{ emprestimo.data|date:"d/m/Y" }}</td>
                <td>{{ emprestimo.data_devolucao|date:"d/m/Y" }}</td>
                <td>{{ emprestimo.aluno_confirmacao }}</td>
                <td>{{ emprestimo.aluno_data_confirmacao|date:"d/m/Y" }}</td>
                <td class="acoes">
                    {% if emprestimo.pk %}
                    <a href="{% url 'editar-emprestimo' emprestimo.pk %}" class="btn-editar" title="Editar">✏️</a>
                    <a href="{% url 'excluir-emprestimo' emprestimo.pk %}" class="btn-excluir" title="Excluir">🗑️</a>
                    <a href="{% url 'detalhes-emprestimo' emprestimo.pk %}" class="" title="Excluir">Confirmar</a>
                    {% else %}
                    <span>Registro inválido</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="nenhum-registro">Nenhum empréstimo registrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'menu-listas' %}" class="btn-voltar">&larr; Voltar para o Menu de Listas</a>
{% endblock %}